<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AskMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>links}}
</head>
<body>
    {{>navigation}}
    <main>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Sorry, this part is not ready to use</h2>
                    <p>Page will be updated as soon as possible, thank you!</p>
                </div>
            </div>
        </section>
        </main>
{{>footer}}
{{>scripts}}
</body>
</html>